:root {
  font-family: Arial, Helvetica, sans-serif;
  color: rgba(68, 68, 68, 0.87);
  background: linear-gradient(116.82deg, #60EFFF 0%, #F492F0 100%);
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  height: 100vh;
  font-size: 30px;
}
